<style>
.rightwidth{ width:340px;}
span#cnzz_stat_icon_1262686300{position: absolute;bottom: 0;display: none;}
span#cnzz_stat_icon_1262686300 a {color:#999;}
</style>
<!--footer start-->

<div class="coin_footer" style="position:relative;">
	<div class="coin_hint">

		<h2>{$info_one4.title|default="风险提示"}</h2>
		<p>
            <div style="margin:0px;padding:0px;font-family:Arial, 微软雅黑;color:#000; font-size:13px;">
                <p>
                    <span style="color:#000000;">数字货币交易具有极高的风险（预挖、暴涨暴跌、庄家操控、团队解散、技术缺陷等），据国家五部委《关于防范比特币风险的通知》，阿尔卑斯封闭资产交易中心仅为数字货币的爱好者提供一个自由的网上交换平台，对币的投资价值不承担任何审查、担保、赔偿的责任，如果您不能接受，请不要进行交易！谢谢！</span>
                </p>
                <div>
                    <span style="color:#000000;"></span><br />
                </div>
            </div>
            <div class="news_coin" style="margin:0px;padding:0px;font-family:Arial, 微软雅黑;">
            </div>
        </p>
	</div>
	<div class="coin_footerbar">
		<div class="coin_footer_nav clearfix">
			<div class="coin_nav coin_copy left">
				<p><a href="{:U('Index/index')}"><img style=" height:130px;" src="/logo2.png"></a></p>
			</div>
            <div class="coin_nav left" id="helpcen">
				<h2>帮助中心</h2>
				<ul>
                <volist name="help" id="vo">
					<li><a href="{:U('Help/index',array('id'=>$vo['id']))}" target="_blank" class="left">{$vo.name}</a></li>
                </volist>
				</ul>
			</div>
            <div class="coin_nav coin_nav02 left">
				<h2 class="clearfix"><span class="left">联系我们</span></h2>
				<ul>
                    <li>工作日:9:30-22:00</li>
                    <li>节假日:10:00-21:00</li>
                    <li>客服QQ：{$config.qq1|default="暂无"}</li>
                   <!-- <li>客服QQ：{$config.qq2|default="暂无"}</li>-->
                    <!--<li>官方QQ交流群：580648456</li>-->
				</ul>
			</div>

			<div class="coin_nav left">
                <h2>合作团队</h2>
				<ul>
					<li><a href="{:U('Index/index')}">{$config.name|default="虚拟币"}</a></li>
				<volist name="team" id="vo">
					<li><a href="{:U('Art/details',array('team_id'=>$vo['article_id']))}" target="_blank" class="left">{$vo.title}</a></li>
                </volist>
                	<li class="top_center_first"><a href="http://www.gz628.com/" target="_blank">光子（国际）控股集团</a></li>
                    <li><a href="http://daili.duikeji.com/" target="_blank">兑科技代理管理中心</a></li>
                    <li><a href="http://www.duikeji.com/" target="_blank">厦门爱兑网络科技有限公司</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="footer_aq">
    <div style="width:1200px; margin:0 auto;">

          <br/>
          <p style="width:270px;">
            {$config.copyright|default="暂无"}
          </p>
          <p style="position:relative;float: right;top: -20px;width:160px;">技术支持：爱兑科技</p>

          <ul class="footerSafety clearfix">
          </ul>
    </div>
</div>
<div id="weixin" style="position:absolute; bottom:88px; left:50%; margin-left:170px; display:block;"></div>
<script>
	$('#coin_weixin').mouseover(function(){
		$('#weixin').show();
	}).mouseout(function(){
		$('#weixin').hide();
	});
</script>
<!--footer end-->
<script type="text/javascript" src="__PUBLIC__/Home/js/gotop.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/link.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slides.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262686300'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262686300%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>



</div></body></html>